@import url(http://fonts.googleapis.com/css?family=Ubuntu);
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.15;
}
.resume {
  display: block;
  box-sizing: border-box;
}
.resume > header {
  display: block;
  text-align: center;
}
.resume section + section {
  padding-top: .5em;
}
.resume a,
.resume a:hover,
.resume a:visited {
  color: #4E7B9D;
  text-decoration: none;
}
.resume .title {
  font-size: 2em;
}
.resume .subtitle {
  display: block;
  font-weight: bolder;
  font-size: 1.3em;
  padding: .2em;
}
.resume .section-title {
  font-size: 1.5em;
  padding-bottom: .2em;
}
.resume .section-content {
  padding-left: 1em;
  font-size: .9em;
}
.resume .section-content .subsection-title {
  font-size: 1.25em;
  padding-bottom: .15em;
}
.resume .section-content .subsection-subtitle {
  font-size: 1em;
  padding-left: .5em;
}
.resume .section-content .subsection-content {
  padding-left: .75em;
}
.resume .competencies h3 {
  text-decoration: underline;
}
.resume .competencies .competency-languages,
.resume .competencies .competency-technologies,
.resume .competencies .competency-databases,
.resume .competencies .competency-platforms {
  display: inline-block;
  vertical-align: top;
}
.resume .competencies .competency-languages {
  width: 23%;
}
.resume .competencies .competency-technologies {
  width: 40%;
}
.resume .competencies .competency-languages li,
.resume .competencies .competency-technologies li {
  width: 49%;
}
.resume .competencies .competency-databases {
  width: 19%;
}
.resume .competencies .competency-platforms {
  width: 15%;
}
.resume .competencies .competency-databases li,
.resume .competencies .competency-platforms li {
  width: 100%;
}
.resume .competencies .category li {
  display: inline-block;
  box-sizing: border-box;
}
.resume .work-experience > li .position {
  font-weight: bolder;
}
.resume .work-experience > li,
.resume .education > li {
  display: block;
  position: relative;
  padding-top: .25em;
  padding-bottom: .5em;
  border-top: 1px solid #777;
}
.resume .work-experience > li .tenure,
.resume .education > li .tenure {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: .25em;
}
.resume .work-experience > li .accomplishments,
.resume .education > li .accomplishments {
  padding-top: .15em;
}
.resume .work-experience > li .accomplishments li,
.resume .education > li .accomplishments li {
  display: list-item;
  list-style-type: circle;
  margin-left: 1em;
  white-space: nowrap;
}
.resume ol.interests {
  column-count: 4;
}
.resume ol.interests li {
  list-style-type: none;
}